/* remove default styles */

* {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* FONT */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* custom variables */

:root {
    --primaryColor: rgb(17, 124, 211);
    --offWhiteColor: rgb(224, 224, 224);
}

/* full page styles & texts */

body {
    background-color: white;
    display: grid;
    grid-template-columns: 230px 9fr;
    font-family: 'Roboto', sans-serif;    
}

/* sideboard */

.sideboard {
    padding: 15px;
    grid-column: 1/2;
    display: grid;
    gap: 30px;
    color: white;
    background-color: var(--primaryColor);
}

.dashboard, .group1 li, .group2 li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 10px;
    padding: 5px 0 5px 0;
}

.dashboard a, .group1 a, .group2 a {
    justify-self: center;
}


/* main */
.main {
    grid-column: 2/8;
}
/* header */

.header {
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-content: center;
    align-items: center;
    z-index: 4;
}

.search {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
}

.search input {
    background-color: var(--offWhiteColor);
    border-radius: 25px;
    padding-left: 8px;
    height: 25px;
    width: clamp(150px, 30vw, 500px);
}

.search input::placeholder {
    padding-left: 10px;
    color: rgb(124, 124, 124);
}

.notifications {
    display: grid;
    grid-template-columns: 30px 50px 70px;
    gap: 10px;
    align-items: center;
    justify-content: end;
    justify-items: center;
}

.notifications a {
    text-decoration: none;
    color: black;
}

.user-icon img, .left img {
    border-radius: 50px;
}

/* page-topper (below header) */

.page-topper {    
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgb(94, 93, 93);
    z-index: 10;
}

.page-topper .left {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 20px;
    justify-content: center;
}

.buttons button {
    padding: 7px 15px 7px 15px;
    border-radius: 50px;
    background-color: var(--primaryColor);
    color: white;
    text-align: center;
}

/* main content */

.focus-area {
    padding: 30px 10px 40px 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--offWhiteColor);
    z-index: 1;
}

.projects, .announcements-trending p {
    font-weight: bold;
}