/* remove default styles */

* {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* custom variables */

:root {
    --primaryColor: rgb(17, 124, 211);
    --offWhiteColor: rgb(224, 224, 224);
}

/* full page styles & texts */

body {
    background-color: white;
    display: grid;
    grid-template-columns: 230px 9fr;
}

/* sideboard */

.sideboard {
    padding: 15px;
    grid-column: 1/2;
    display: grid;
    gap: 30px;
    color: white;
    background-color: var(--primaryColor);
}

.dashboard, .group1 li, .group2 li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 10px;
    padding: 5px 0 5px 0;
}

.dashboard a, .group1 a, .group2 a {
    justify-self: center;
}


/* main */
/* header */

.header {
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-content: center;
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
}

.search input {
    background-color: var(--offWhiteColor);
    border-radius: 25px;
    padding-left: 8px;
    height: 25px;
    width: clamp(150px, 30vw, 500px);
}

.search input::placeholder {
    padding-left: 10px;
    color: rgb(124, 124, 124);
}

.notifications {
    display: grid;
    grid-template-columns: 30px 50px 70px;
    gap: 10px;
    align-items: center;
    justify-content: end;
    justify-items: center;
}

.notifications a {
    text-decoration: none;
    color: black;
}

.user-icon img, .left img {
    border-radius: 50px;
}

/* page-topper (below header) */

.page-topper {    
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-content: center;
    align-items: center;
}

.page-topper .left {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 20px;
    justify-content: center;
}

.buttons button {
    padding: 7px 15px 7px 15px;
    border-radius: 50px;
    background-color: var(--primaryColor);
    color: white;
    text-align: center;
}

/* main content */

.main {
    grid-column: 2/8;
}