/* remove default styles */

* {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* custom variables */

:root {
    --primaryColor: rgb(8, 117, 207);
}

/* full page styles & texts */

body {
    background-color: white;
    display: grid;
    grid-template-columns: 230px 9fr;
}

/* sideboard */

.sideboard {
    padding: 15px;
    grid-column: 1/2;
    display: grid;
    gap: 30px;
    color: white;
    background-color: var(--primaryColor);
}

.dashboard, .group1 li, .group2 li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 10px;
    padding: 5px 0 5px 0;
}

.dashboard a, .group1 a, .group2 a {
    justify-self: center;
}


/* main */

.header {
    padding: 15px 40px 15px 40px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.page-topper {
    padding: 15px;
}

.main {
    grid-column: 2/8;
}